In [1]:
#Dependencies and Setup
import pandas as pd

#File to Load
world_cities_csv_file = "worldcities.csv"
us_states_csv_file = "50_us_states_all_data.csv"

#Read cities file and store in Pandas data frame
city_data = pd.read_csv(world_cities_csv_file)
state_data = pd.read_csv(us_states_csv_file)

In [2]:
city_data.head(20)

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Malishevë,Malisheve,42.4822,20.7458,Kosovo,XK,XKS,Malishevë,admin,NaN,1901597212
1,Prizren,Prizren,42.2139,20.7397,Kosovo,XK,XKS,Prizren,admin,NaN,1901360309
2,Zubin Potok,Zubin Potok,42.9144,20.6897,Kosovo,XK,XKS,Zubin Potok,admin,NaN,1901608808
3,Kamenicë,Kamenice,42.5781,21.5803,Kosovo,XK,XKS,Kamenicë,admin,NaN,1901851592
4,Viti,Viti,42.3214,21.3583,Kosovo,XK,XKS,Viti,admin,NaN,1901328795
5,Shtërpcë,Shterpce,42.2394,21.0272,Kosovo,XK,XKS,Shtërpcë,admin,NaN,1901828239
6,Shtime,Shtime,42.4331,21.0397,Kosovo,XK,XKS,Shtime,admin,NaN,1901598505
7,Vushtrri,Vushtrri,42.8231,20.9675,Kosovo,XK,XKS,Vushtrri,admin,NaN,1901107642
8,Dragash,Dragash,42.0265,20.6533,Kosovo,XK,XKS,Dragash,admin,NaN,1901112530
9,Podujevë,Podujeve,42.9111,21.1899,Kosovo,XK,XKS,Podujevë,admin,NaN,1901550082
10,Fushë Kosovë,Fushe Kosove,42.6639,21.0961,Kosovo,XK,XKS,Fushë Kosovë,admin,NaN,1901134407
11,Kaçanik,Kacanik,42.2319,21.2594,Kosovo,XK,XKS,Kaçanik,admin,NaN,1901200321
12,Klinë,Kline,42.6217,20.5778,Kosovo,XK,XKS,Klinë,admin,NaN,1901230162
13,Leposaviq,Leposaviq,43.1039,20.8028,Kosovo,XK,XKS,Leposaviq,admin,NaN,1901974597
14,Pejë,Peje,42.6600,20.2922,Kosovo,XK,XKS,Pejë,admin,NaN,1901339694
15,Rahovec,Rahovec,42.3994,20.6547,Kosovo,XK,XKS,Rahovec,admin,NaN,1901336358
16,Gjilan,Gjilan,42.4689,21.4633,Kosovo,XK,XKS,Gjilan,admin,NaN,1901235642
17,Lipjan,Lipjan,42.5217,21.1258,Kosovo,XK,XKS,Lipjan,admin,NaN,1901682048
18,Obiliq,Obiliq,42.6869,21.0703,Kosovo,XK,XKS,Obiliq,admin,NaN,1901102771
19,Gjakovë,Gjakove,42.3803,20.4308,Kosovo,XK,XKS,Gjakovë,admin,NaN,1901089874

In [29]:
state_data.head()

   State_Caps       State Abbreviation Abrev_Alt
0     ALABAMA     Alabama           AL      Ala.
1      ALASKA      Alaska           AK    Alaska
2     ARIZONA     Arizona           AZ     Ariz.
3    ARKANSAS    Arkansas           AR      Ark.
4  CALIFORNIA  California           CA    Calif.

In [30]:
#merge city and state dataframes
merge_df = pd.merge(city_data, state_data, how="left", left_on="admin_name", right_on="State")

In [33]:
merge_df.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,State_Caps,State,Abbreviation,Abrev_Alt
0,Malishevë,Malisheve,42.4822,20.7458,Kosovo,XK,XKS,Malishevë,admin,NaN,1901597212,NaN,NaN,NaN,NaN
1,Prizren,Prizren,42.2139,20.7397,Kosovo,XK,XKS,Prizren,admin,NaN,1901360309,NaN,NaN,NaN,NaN
2,Zubin Potok,Zubin Potok,42.9144,20.6897,Kosovo,XK,XKS,Zubin Potok,admin,NaN,1901608808,NaN,NaN,NaN,NaN
3,Kamenicë,Kamenice,42.5781,21.5803,Kosovo,XK,XKS,Kamenicë,admin,NaN,1901851592,NaN,NaN,NaN,NaN
4,Viti,Viti,42.3214,21.3583,Kosovo,XK,XKS,Viti,admin,NaN,1901328795,NaN,NaN,NaN,NaN

In [34]:
#filter by city
new_york = merge_df.loc[merge_df['city']=='New York']
new_york

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,State_Caps,State,Abbreviation,Abrev_Alt
9792,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,19354922.0,1840034016,NEW YORK,New York,NY,N.Y.

In [35]:
#filter by city and iso2
bogota = merge_df.loc[merge_df['city']=='Bogota'].loc[merge_df['iso2']=='CO']
bogota

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,State_Caps,State,Abbreviation,Abrev_Alt
6177,Bogota,Bogota,4.5964,-74.0833,Colombia,CO,COL,Bogotá,primary,7772000.0,1170483426,NaN,NaN,NaN,NaN